.jackcenter{
    text-align: center;
    color: blue;
    background-color: rgb(250, 247, 245);
}
.jack{
    background-color: rgb(31, 220, 220);
    border-radius: 15px;
    padding: 20px 30px;
    border-radius: 15px;
    color: rgb(246, 238, 238);
    margin: 0 auto ;
    width:  80%;
    height: 100px;
    overflow: auto;
}

.centercenter{
    text-align: center;
}
.blueblue{
    color: blue;
}
a.jacklink:hover{
    color: blue;
    padding: 0 30px;
    border-radius: 40px;
    background-color: aqua;
}
.jackbig{
    font-size: 20px;
    font-weight: 800;
}
.jackgo{
    font-size: 50px;
    text-align: center;
}
section#about{
    background-color: rgb(106, 233, 233) !important;
    background-image: url("../assets/img/星空.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
section#about div{
    color: white; }
section#about h1{
  color:white;
}
section#callme {
    background-color: rgb(116 23 133) !important;
}
section#callme h2{
    color: white;
}
